*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


:root {
    /* Paleta Base */
    --color-primary: #3B82F6;      /* Azul médio */
    --color-secondary: #10B981;    /* Verde */
    --color-background: #F9FAFB;   /* Quase branco */
    --color-text-primary: #111827; /* Texto principal */
    --color-text-secondary: #6B7280; /* Texto secundário */
  
    /* Cores por Categoria */
    --color-alimentos: #F59E0B;    /* Amarelo/laranja */
    --color-limpeza: #6366F1;      /* Roxo */
    --color-vestuario: #EC4899;    /* Rosa */
    --color-eletronicos: #0EA5E9;  /* Azul claro */
    --color-papelaria: #8B5CF6;    /* Roxo claro */
    --color-beleza: #F43F5E;       /* Vermelho rosado */
    --color-diversos: #9CA3AF;     /* Cinza neutro */
}
  
button{
    cursor: pointer;
}