
/* Responsividade */
@media (max-width: 768px) {

    .informacoes {
        flex-direction: column;
        margin-bottom: 100px;
        max-height: 500px;
        gap: 22px;
    }

    .summary-container {
        min-width: 100%;
        margin-top: 0px;
        padding: 0;
    }

    .grafico-container{
        min-width: 100%;
        max-height: 300px;
    }

    #product-table th, #product-table td {
        font-size: 0.9rem;  /* Reduz o tamanho da fonte para telas pequenas */
    }

    .filters {
        flex-direction: column; /* Organiza os filtros em uma coluna */
        gap: 0.5rem;
    }

    .filters input, .filters select, .filters button {
        width: 100%;  /* Filtros ocupam 100% da largura da tela */
        padding: 0.5rem;
    }

    #product-table {
        max-width: 95%;
        overflow-x: auto; /* Permite rolar horizontalmente se necessário */
        display: block; /* Necessário para rolar a tabela horizontalmente */
        padding-left: 350px;
    }
    

}

/* Responsividade para telas muito pequenas (ex: mobile) */
@media (max-width: 400px) {
    #product-table th, #product-table td {
        padding: 0.5rem;  /* Menor padding nas células */
        font-size: 0.8rem;  /* Reduz o tamanho da fonte ainda mais */
    }

    .filters input, .filters select, .filters button {
        padding: 0.5rem;
        width: 100%;  /* Filtros ocupam 100% da largura da tela */
    }
}
